@font-face{
    font-family: "ethnocentric rg";
    src: url("../font/ethnocentric rg.ttf") format("opentype");
    }
    
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color:rgba(102,85,85,0.5);
    }
    
    .logo{
        font-family: 'Ethnocentric Rg';
        font-size:26px;
        color: yellow;
        letter-spacing: 3px;
        margin-left:4px;
    }
    
    .hh{
        text-align:center;
        font-family: ethnocentric;
        color: white;
        font-size: 79px;
        padding:0.1em;
        margin: 15px;
    }
    span{
        background:transparent;
        background-size: contain;
        background-position: -150px;
        display: flex;
        justify-content: space-between;
        height: auto;
    }
    
    .header{
        padding: 0.6em;
        font-size: 10%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        font-weight: bold;
    }
    
    
    img{
        padding: 5px;
        width: 200px;
        height: 15px;
    }
    
    .menu {
        padding:2.5em 1em;
    //    display: flex;
        //flex-direction: ;
        color:white
    }
    
    .menu > a{
        text-decoration: none;
        color: white;
        margin: 0px 10px;
        padding:.em;
        font-weight:lighter;
        cursor: pointer;
    }
    
    .menu1{
        display: flex;
    }
    
    .menu1 > a{
        text-decoration: none;
        color: white;
        margin: 10px auto;
        padding:0.5em 0.9em;
        font-family: helvetical;
        border-radius: 5px;
        font-size: 20px;
        height:20px; 
        border:1px solid white;
        background-color:orangered;
    }
    
    .icon{
        text-align: center;
        width: 100%;
        color: white;
        font-size: 30px;
        font-weight:bolder;
        margin-bottom:px;
    }
    
    .flexcontent{
        display: flex;
        justify-content: space-between;
    }
    
    h1{
        font-family: "Courier New", Courier, monospace;
    }
    
    body, .content::before{
        background:url(../img/container.jpg) 100% /cover fixed;
    }
    
    .modal-content{
        width:1200px;
        height:570px;
        margin:60.5px auto;
        background-color: rgba(0,0,0,0.3);
    }
    
    .content{
        position: relative;
        width: 300px;
        height: 300px;
        top: -30px;
        margin:100px 50px 50px 0px;
        padding: 30px;
        //border: 3px solid white;
        border-radius: 0 30px 0 30px;
    }
    
    .content::before{
        content: '';
        position: absolute;
        z-index: -1;
        margin: -5px;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0 30px 0 30px;
        filter: blur(5px);
    }
    
    .flex{
         margin:100px 0px 50px 50px;
    }
    
    h2{
        text-align: center;
        color: white;
        font-size: 20px;
    }
    
    label{
        background: none;
        display: block;
        position: relative;
        top: -20px;
        left: 0px;
        color: white;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        z-index: 1;
        transition: all 0.3s ease;
    }
    
    input{
        display: block;
        position: relative;
        border: 0;
        background: none;
        width:100%;
        height:20px;
        font-family:Helvetica;
        font-size:16px;
        padding-top: 20px;
        border-bottom: 1px solid #ddd;
        font-weight: lighter;
        z-index: 2;
        color:white;
    }
    
    input:focus, input:valid {
        outline: none;
        border-bottom: 1px solid blue;
    }
    
    input:focus + label, input:valid + label{
        top: -40px;
        font-size: 13px;
        color: white;
        font-weight: normal;
    }
    
    .content a{
        font-family: 'helvetica';
        font-size: 14px;
        color: yellow;
        text-decoration: none;
        font-weight: bold;
    }
    
    .forget{
        margin-top: 7px;
        color: white;
        cursor: pointer;
        text-decoration: underline;
        font-size:16px;
        position:relative;
        top:-20px;
        left: 80px;
            
    }
    
    .footer{
        font-size: 20px;
        color: green;
        position: absolute;
        bottom: 3px;
        width:100%;
        text-align:center;
        padding:0px;
        margin-top:10px;
        margin-bottom:0;
    }
    
    .bntt > a{
        margin-top: 0px;
        padding:16px 125px;
        background-color:orangered;
        border: 0;
        opacity: 0.75;
        color: white;
        width: 120%;
        cursor:pointer;
        position:relative;
        top:16px;
        white-space: nowrap;
        
    }
    
    
    @media only screen and (max-width:1180px){
        
        .modal-content{
            margin: 35px 0px;
            width: 100%;
        }
         .hh{
            font-size:40px;
        }
    }
    @media only screen and (max-width:900px){    
        
        .modal-content{
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        .logo{
            margin:10px;
            font-size:20px;
        }
        
        .hh{
            font-size:50px;
        }
        
        .login{
            margin:18px;
            font-size:16px;
        }
        
        .content{
            margin:150px 25px 75px 20px;
            width:300px;
        }
        
        .bntt > a{
            white-space: nowrap;
        }
        
        .icon{
            font-size:25px
        }
    }
    
    
    
    @media only screen and (max-width:800px){
    
        
        .flex{
            margin:10px 0px 5px 0px;
        }
        
        .flexcontent{
            flex-direction: column;
        }
        
        .logo{
            margin:10px;
            font-size:20px;
        }
        
        .login{
            margin:14px;
            font-size:16px;
        }
        
        .menu > a{
            margin-top:8px;
        }
        
        .hh{
            font-size:50px
        }
        .content{
            margin: 9px auto;
            width:55%;
        }
        .menu{
            padding-left:10px;
            width: 250px;
            font-size:13px;
        }
        
        .bntt > a{
            padding:10px 90px;
            margin-left:9px
        }
    
    }
    
    @media only screen and (max-width:420px){
    
        
        .flex{
            margin:10px 0px 5px 0px;
        }
        
        .flexcontent{
            flex-direction: column;
        }
        
        .logo{
            margin:10px;
            font-size:15px;
        }
        
        .hh{
            margin:10px;
            font-size:40px;
            font-weight:bold;
        }
        
        .menu > a{
            margin-top:1px;
            font-size:12px;
        }
        
        .icon{
            font-size:17px;
        }
        
        .menu{
            padding-left:0px;
            width: 230px;
            font-size:14px;
        }
        
        .content{
            margin-top:30px;
            margin-left:35px;
            width:60%;
        }
        
        .bntt > a{
            margin-left:1px
        }
        .forget{
       
        top:-20px;
        left: 50px;
            
    }
    
        
    }
    
    