body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(100,100,150,.05);
}

span{
    background:url(../img/images11.png) no-repeat;
    background-size: contain;
    background-position: -150px;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.header{
    padding: 0.6em;
    font-size: 110%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-family: comic sans ms;
    font-weight: bold;
    color: orangered;
    position: sticky;
    top: 0;
}
img{
    padding: 5px;
    width: 200px;
    height: 15px;
}

.menu a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    padding:0.7em 0.3em;
    background-color:green;
    font-family: helvetical;
    border: 0;
    opacity: 0.95;
}

.menu1 a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    padding:1em 2em;
    background-color:green;
    font-family: helvetical;
    font-size: 20px;
    border: 0;
    opacity: 0.95;
    
}

.menu1{
    position: relative;
    top: 250px;
    left: 550px;
    
}


.icon{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: -90px;
    color: gray;
    font-size: 2.5em
    
}

h1{
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    left: 7px;
    line-height: 1.4em;;
}

.content{
    display: block;
    position: relative;
    width: 300px;
    height: 290px;
    top: 50px;
    left: -20px;
/*    background: #fff;*/
    margin:50px auto;
    padding: 30px;
    border-radius: 0 30px 0 30px;
    box-shadow: 3px 3px 20px 2px  #ccc;
}

h2{
    text-align: center;
}

label{
    background: none;
    display: block;
    position: relative;
    top: -20px;
    left: 0px;
    color: #999;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    z-index: 1;
    transition: all 0.3s ease;
}

input{
    display: block;
    position: relative;
    border: 0;
    background: none;
    width:100%;
    height:20px;
    font-family:Helvetica;
    font-size:16px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: lighter;
    z-index: 2;  
}

input:focus, input:valid {
    outline: none;
    border-bottom: 1px solid blue;
}

input:focus + label, input:valid + label{
    top: -40px;
    font-size: 13px;
    color: green;
    font-weight: normal;
}

.content a{
    font-family: 'helvetica';
    font-size: 13px;
    color: green;
    text-decoration: none;
}
.btn {
    margin-top: 10px;
    padding:15px 20px;
    background-color:orangered;
    border: 0;
    opacity: 0.75;
    color: white;
    width: 100%;
}

.footer{
    font-size: 20px;
    color: green;
    position: absolute;
    bottom: 3px;
    width:100%;
    text-align:center;
    padding:0px;
    margin-top:10px;
    margin-bottom:0;
}